<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js"
    />
</head>

<body>
<form>
    <div class="container">
        <h2> User Info</h2>
    </div>
</form>
</body>