
<head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js"
    />
    <script type="text/javascript" src="../public/javascripts/theme.js"></script>
</head>
<form action="/register" method="POST">
<form>
    <div class="container">
            <input type="text" placeholder="Username" id="name" name="name" required>
            <input type="text" placeholder="Email" id="email" name="email" required>
            <input type="password" placeholder="password" id="password" name="password" required>
            <input type="password" placeholder="confirm password" id="password_confirmation" name="password_confirmation" required>
            <button type="submit" class="btn-toggle">Register</button>
    </div>
</form>
</form>



<!--


<h1>Register</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a>

-->